<h1>Server Prop</h1>
<p>This component demonstrates fetching data from the server.</p>
<!--<div *ngFor="let prop of testString">{{prop.property}} {{prop.value}}</div>-->
<div class="col-sm-6">
    <table class="table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prop of serverProperty">
                <td>{{prop.property}}</td>
                <td *ngIf="!prop.isEditingRow">{{prop.value}}</td>
                <td *ngIf="prop.isEditingRow">
                    <form (ngSubmit)="submitEdit(prop)">
                        <div class="input-group">
                            <input class="form-control" [(ngModel)]="prop.value" name="value" id="value" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-check" aria-hidden="true"></i></button>
                            </span>
                        </div>
                        
                    </form>
                </td>
                <td style="cursor: pointer" (click)="editRow(prop)"><i class="fa fa-pencil" aria-hidden="true"></i></td>
            </tr>
        </tbody>
    </table>
</div>